:root{
    --gray:rgba(192,192,192,0.4);
}
.border{
    border:1px solid var(--gray);
}
.remove-button{
    border-radius:50%;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    background-color: var(--gray);
    box-shadow: 0;
}
.cart-img{
    position: relative;
    width: 100%;
    
}
.quantity-border{
    border: 1px solid black;
}